<!doctype html>
<html>
	<head>
		<title>Karate - Home</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/main.css" /> 
		<script type="text/javascript" src="javascripts/tabfunction.js"></script>
	</head>
	<body>
		<header>
			<center>Shotokan Karate</center><br>	
			<address class="address">
				Written by Tasin Islam.<br> 
				Visit us at:<br>
				Example.com<br>
				Box 564, Gants Hill<br>
				UK
			</address>
			
			<div class="tablink">
				<button onclick="loadPage('Kata')">Kata</button>
				<span class="tooltiptext">Learn about kata!</span>
			</div>	
			
			<div class="tablink">
				<button onclick="loadPage('Kumite')">Kumite</button>
				<span class="tooltiptext">Learn about kumite!</span>
			</div>
			
			<div class="tablink">
				<button onclick="loadPage('Kihon')">Kihon</button>
				<span class="tooltiptext">Learn about kihon!</span>
			</div>
		
		</header>
		
		<div id="thumbs">
			<img src = "images/punch.png" width="200" height="200">
			<img src = "images/stance.png" width="200" height="200">
			<img src = "images/kick.png" width="200" height="200">
			<span class="strech"></span>
		</div><br>
		
		<em>Shotokan karate is a style of karate, developed from various martial 
		arts by Gichin Funakoshi.</em><br>
	
		<h1>
			Big paragraph below
		</h2>
		<footer>
			Shotokan Karate, 2020 
		</footer>
	
	</body>
</html>