<!doctype html>
<html>
	<head>
		<title>Karate - Kata</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/kumiteDesign.css" /> 
		<script type="text/javascript" src="javascripts/tabfunction.js"></script>
	</head>
	
	<body>
		<header>
			<center>Shotokan Karate</center><br>	
			<address class="address">
				Written by Tasin Islam.<br> 
				Visit us at:<br>
				Example.com<br>
				Box 564, Gants Hill<br>
				UK
			</address>
			
			<div class="tablink">
				<button title="Learn about kata!" onclick="loadPage('Kata')">Kata</button>
			</div>	
			
			<div class="tablink">
				<button title="Learn about kumite!" onclick="loadPage('Kumite')">Kumite</button>
			</div>
			
			<div class="tablink">
				<button title="Learn about kihon!" onclick="loadPage('Kihon')">Kihon</button>
			</div>	
		</header>
		
		<div class="info">	
			<h1><br>
				What is Kumite?
			</h1>
			<p>
				
			</p>
		<div>
	
	</body>
</html>