
/* Refers to the position of the image */
.thumbs {
    text-align: justify;
	margin-right: 10px;
}
.thumbs > div {
    display: inline-block;
}
.thumbs:after {
    content: "";
    width: 100%;
    display: inline-block;
}

#firstImage {
	margin-left: 4rem;
}

#lastImage {
	margin-right: 4rem;
}

#info {
	padding-left: 4rem;
	padding-right: 4rem;
}

footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
}
