body{
	background:#bfbfbf;
	font-family: arial;
	margin: 0;
	overflow-x: hidden;
}

header {
	background: #b00c00;
	color: white;
	font-weight: bold;
	margin:0;
	padding: 10px 0px 0px 0px;
}


.tablink button{
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 33.33%;
}

/* Change background color of the tab on hover */
.tablink button:hover {
  background-color: #777;

}

/* Set default styles for tab content */


.address {
	text-align: right;
	padding: 0px 20px 0px 0px;
}

/* Refers to the position of the image */
#thumbs {
    text-align: justify;
}
#thumbs > div {
    display: inline-block;
}
#thumbs:after {
    content: "";
    width: 100%;
    display: inline-block;
}

footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
}
